<% content_for :title, "Liked" %>
<div class="container">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  <div class="page-body row">
    <div class="content span9">
      <%= render partial: "layouts/media-grid-photos", locals: {photos: @photos} %>
      <%= render partial: "layouts/page-status", locals: {pagination: @pagination, key: "max_like_id"} %>
    </div>
    <div class="dashboard span6">
      <%= render partial: "layouts/user", locals: {user: @user} %>
    </div>
  </div>
</div>
<%= render partial: "layouts/media-panel", locals: {photos: @photos} %>
