<div class="comment">
  <%= image_tag comment.from.profile_picture, class: "profile-picture" %>
  <span class="username" data-username="<%= comment.from.username %>">
    <%= link_to comment.from.username, recent_url(id: comment.from.username) %>
  </span>
  <span class="text">
    <%= emoji_tag tags_tag comment.text.strip %>
    <span class="created-time">
      <%= Time.at(comment.created_time.to_i).to_pretty %>
    </span>
  </span>
</div>
