<div class="modal-container">
  <% @photos.each do |p| %>
  <div class="modal media-panel hide" data-id="<%= p.id %>">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <div class="username author">
        <%= link_to p.user.username, recent_url(id: p.user.id) %>
      </div>
    </div>
    <div class="modal-body">
      <%= link_to_external (photo_tag p, :low_resolution), p.link %>
    </div>
    <% if authenticated? %>
    <div class="modal-footer">
      <div class="likes <%= p.user_has_liked ? 'like' : 'unlike' %>">
        <div class="pull-left likes-button like">
          <a href="<%= like_url(id: p.id) %>" class="btn small" data-remote="true" data-method="post">like</a>
        </div>
        <div class="pull-left likes-button unlike">
          <a href="<%= unlike_url(id: p.id) %>" class="btn small primary" data-remote="true" data-method="delete">liked</a>
        </div>
      </div>
      <div class="comments">
        <div class="pull-left comments-button create-comment">
          <a href="<%= create_comment_url(id: p.id) %>" class="btn small">comment</a>
        </div>
      </div>
    </div>
    <% end %>
    <% if caption_text p %>
    <div class="modal-footer">
      <div class="caption">
        <span class="username author">
          <%= link_to p.user.username, recent_url(id: p.user.id) %>
        </span>
        <span class="text">
          <%= caption_text p %>
        </span>
      </div>
    </div>
    <% end %>
    <% if p.comments[:count] > 0 %>
    <div class="modal-footer">
      <div class="comments">
        <% if authenticated? && p.comments[:count] > p.comments.data.size %>
        <div class="comments-load-link comments">
          <%= link_to "view all #{p.comments[:count]} comments", comments_url(id: p.id), "data-remote" => true %>
        </div>
        <% else %>
        <div class="count">
          <%= p.comments[:count] %> comments
        </div>
        <% end %>
        <div class="comments-data">
          <% p.comments.data.each do |c| %>
          <div class="comment">
            <span class="username">
              <%= link_to c.from.username, recent_url(id: c.from.id) %>
            </span>
            <span class="text">
              <%= c.text %>
            </span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% if p.likes[:count] > 0 %>
    <div class="modal-footer">
      <div class="likes">
        <% if authenticated? %>
        <div class="likes-load-link likes">
          <%= link_to "view all #{p.likes[:count]} likes", likes_url(id: p.id), "data-remote" => true %>
        </div>
        <% else %>
        <div class="count">
          <%= p.likes[:count] %> likes
        </div>
        <% end %>
        <div class="likes-data">
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
