<div class="user">
  <div class="profile_picture">
    <%= link_to_external (image_tag @user.profile_picture, size: "75x75"), @user.profile_picture %>
  </div>
  <div class="full-name">
    <h2><%= link_to @user.full_name, recent_url(id: @user.id) %></h2>
  </div>
  <div class="username">
    @<%= link_to @user.username, recent_url(id: @user.id) %>
  </div>
  <div class="bio">
    <%= @user.bio %>
  </div>
  <div class="website">
    <% if @user.website.present? %>
    <%= link_to_external @user.website, @user.website %>
    <% end %>
  </div>
  <hr>
  <% unless @user.id == session[:user][:id] %>
  <a href="#" class="btn primary">follow</a>
  <hr>
  <% end %>
  <div class="media">
    <a href="<%= recent_url(id: @user.id) %>">
      <span class="count"><%= @user.counts.media %></span> media
    </a>
  </div>
  <div class="follows">
    <a href="#">
      <span class="count"><%= @user.counts.follows %></span> follows
    </a>
  </div>
  <div class="followed_by">
    <a href="#">
      <span class="count"><%= @user.counts.followed_by %></span> followes
    </a>
  </div>
</div>
