<!DOCTYPE html>
<html>
  <head>
    <title>Undersky - <%= yield :title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <%= link_to "Undersky", :index, class: "brand" %>
          <ul class="nav">
            <%= nav_link_tag "Popular", url_for(:index) %>
            <%= nav_link_tag "Feed", url_for(:feed) %>
            <% if authenticated? %>
            <%= nav_link_tag "Profile", recent_url(id: session[:user][:id]) %>
            <% else %>
            <%= nav_link_tag "Profile", url_for(:profile) %>
            <% end %>
            <%= nav_link_tag "Liked", url_for(:liked) %>
          </ul>
          <%= form_tag nil, method: :post do %>
          <%= text_field_tag :search, '', placeholder: 'Search' %>
          <% end %>
          <ul class="nav secondary-nav">
            <li><a href="#">About</a></li>
            <% if authenticated? %>
            <li><%= link_to "Logout", :logout %></li>
            <% else %>
            <li><%= link_to "Login", :authorize %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
